<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.report.config.ExtentTestNGListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/user/Downloads/CongressApiTesting">
        <classes>
            <class name="com.api.tests.LoginScenarioTest"/>
            <class name="com.api.tests.ByHeaderTest"/>
            <class name="com.api.tests.GlobalTest"/>
            <class name="com.api.tests.EvaluationsTest"/>
        </classes>

    </test>
</suite>